# 문자열 인덱싱 및 슬라이싱

In [2]:
mystring = "hello world"

len(mystring)

11

In [3]:
mystring[0:5]

'hello'

In [4]:
mystring[6:11]

'world'

In [5]:
mystring[:5]

'hello'

In [6]:
mystring[6:-1]

'worl'

In [7]:
my_jusik = 'naver daum'

my_jusik

'naver daum'

In [10]:
print "my_jusik 이라는 변수가 가리키는 문자열 객체에서 'naver'만 출력하려면 어떻게 해야 할까요? 즉, naver와 daum이 현재는 하나의 문자열인데 이를 분리하고 싶은 것입니다. 문자열을 쉽게 분리하기 위해서 split이라는 메소드를 지원합니다. 참고로 split라는 영어 단어는 '나누다', '쪼개다'라는 뜻이 있습니다."

my_jusik 이라는 변수가 가리키는 문자열 객체에서 'naver'만 출력하려면 어떻게 해야 할까요? 즉, naver와 daum이 현재는 하나의 문자열인데 이를 분리하고 싶은 것입니다. 문자열을 쉽게 분리하기 위해서 split이라는 메소드를 지원합니다. 참고로 split라는 영어 단어는 '나누다', '쪼개다'라는 뜻이 있습니다.

In [13]:
my_jusik.split(' ')

['naver', 'daum']

In [14]:
print "파이썬에서 문자열을 분리하고 싶을 때는 위와 같이 split 메소드를 사용하면 됩니다. 이때 메소드의 인자(argument)로 어떤 문자를 기준으로 문자열을 나눌 것인지를 알려주어야 합니다. 위에서는 'naver'와 'daum' 사이에 있는 공백(blank)을 기준으로 두 문자열로 나눌 것이기 때문에 split(' ')와 같이 작은따옴표 사이에 공백을 하나 넣어준 것입니다. \n\n그러나 위의 리턴 값을 보면 여전히 우리가 원하는 값은 아닙니다. 리턴 값을 보면 'naver'와 'daum'이라는 두 개의 문자열이 '['와']'로 둘러 싸여 있는 것을 확인하실 수 있습니다. 파이썬에서는 이러한 것을 리스트(list)라고 부르는데 리스트는 곧 다룹니다. 리스트의 인덱싱 기능을 사용하여 위의 코드를 수정해 보겠습니다. split(' ')의 리턴 값이 리스트이므로 [0]이라는 것으로 리스트의 첫 번째 값을 가져왔습니다. "

파이썬에서 문자열을 분리하고 싶을 때는 위와 같이 split 메소드를 사용하면 됩니다. 이때 메소드의 인자(argument)로 어떤 문자를 기준으로 문자열을 나눌 것인지를 알려주어야 합니다. 위에서는 'naver'와 'daum' 사이에 있는 공백(blank)을 기준으로 두 문자열로 나눌 것이기 때문에 split(' ')와 같이 작은따옴표 사이에 공백을 하나 넣어준 것입니다.

그러나 위의 리턴 값을 보면 여전히 우리가 원하는 값은 아닙니다. 리턴 값을 보면 'naver'와 'daum'이라는 두 개의 문자열이 '['와']'로 둘러 싸여 있는 것을 확인하실 수 있습니다. 파이썬에서는 이러한 것을 리스트(list)라고 부르는데 리스트는 곧 다룹니다. 리스트의 인덱싱 기능을 사용하여 위의 코드를 수정해 보겠습니다. split(' ')의 리턴 값이 리스트이므로 [0]이라는 것으로 리스트의 첫 번째 값을 가져왔습니다.

In [15]:
my_jusik.split(' ')[0]

'naver'

In [17]:
print (my_jusik.split(' ')[0])

naver

In [18]:
print "하지만 위의 코드처럼 한 번에 붙여서 썼더니 가독성이 조금 떨어진 것 같습니다. 아래 코드와 같이 중간값을 변수를 통해서 바인딩해서 보다 이해하기 쉽게 코드를 작성해 봅시다."

하지만 위의 코드처럼 한 번에 붙여서 썼더니 가독성이 조금 떨어진 것 같습니다. 아래 코드와 같이 중간값을 변수를 통해서 바인딩해서 보다 이해하기 쉽게 코드를 작성해 봅시다.

In [19]:
split_jusik = my_jusik.split(' ')
split_jusik

['naver', 'daum']

In [21]:
print split_jusik[0]

naver

# 문자열 합치기

In [25]:
daum = "Daum"
kakao = "KAKAO"

daum + kakao

'DaumKAKAO'

In [26]:
daum + ' ' + kakao

'Daum KAKAO'

In [27]:
daum_kakao = daum + ' ' + kakao
daum_kakao

'Daum KAKAO'

# 파이썬 데이터 타입

In [28]:
type(70000)

int

In [29]:
print "위의 코드를 보면 type( ) 함수의 리턴 값이 < class 'int' > 인 것을 알 수 있습니다. 여기서 'class'라는 단어는 잠시 잊으시고, int에 주목하시기 바랍니다. int는 integer의 약자로써 정수를 의미합니다. 참고로 산수가 약하신 분들을 위해서 설명해 드리면 1, 2, 3···, 등을 정수라고 하며 1.234, 1.432 등을 실수라고 합니다. 즉, 우리가 알고 있는 정수 70000에 대해서 type( )이라는 함수를 이용하여 파이썬에게 타입을 물어봤더니 파이썬이 'int' 라고 답을 한 것입니다. "

위의 코드를 보면 type( ) 함수의 리턴 값이 < class 'int' > 인 것을 알 수 있습니다. 여기서 'class'라는 단어는 잠시 잊으시고, int에 주목하시기 바랍니다. int는 integer의 약자로써 정수를 의미합니다. 참고로 산수가 약하신 분들을 위해서 설명해 드리면 1, 2, 3···, 등을 정수라고 하며 1.234, 1.432 등을 실수라고 합니다. 즉, 우리가 알고 있는 정수 70000에 대해서 type( )이라는 함수를 이용하여 파이썬에게 타입을 물어봤더니 파이썬이 'int' 라고 답을 한 것입니다.

In [30]:
print "파이썬에는 정숫값 말고도 실숫값도 있으니 이 경우에도 type 함수가 잘 동작하는지 확인해보도록 하겠습니다. 3.141592 라는 값에 대한 type 함수의 리턴 값을 보니 'float' 입니다. float의 사전적 의미는 '뜨는 것', '둥둥 떠다니는 것'을 의미합니다. 프로그래밍 분야에서 float는 부동 소수점을 가리키는 용어로 사용됩니다. 용어가 어려우시다면 float가 실수를 의미한다고 간단히 생각하면 되겠습니다."

파이썬에는 정숫값 말고도 실숫값도 있으니 이 경우에도 type 함수가 잘 동작하는지 확인해보도록 하겠습니다. 3.141592 라는 값에 대한 type 함수의 리턴 값을 보니 'float' 입니다. float의 사전적 의미는 '뜨는 것', '둥둥 떠다니는 것'을 의미합니다. 프로그래밍 분야에서 float는 부동 소수점을 가리키는 용어로 사용됩니다. 용어가 어려우시다면 float가 실수를 의미한다고 간단히 생각하면 되겠습니다.

In [31]:
type(3.131592)

float

In [32]:
type('python')

str

In [33]:
type("jusik")

str

# 연습 문제

In [34]:
daum = 89000
naver = 751000
total = daum*100 + naver*20
print total

23920000

In [35]:
print "pizza\n"*10

pizza
pizza
pizza
pizza
pizza
pizza
pizza
pizza
pizza
pizza

In [44]:
s = 'Daum Kakao'
s = s[5:] + ' ' + s[0:4]
s

'Kakao Daum'

In [49]:
a = 'hello world'
a = 'hi ' + a[6:]
a

'hi world'

In [50]:
x = 'abcdef'
x = x[1:] + x[0]
x

'bcdefa'

In [51]:
print "지금까지 파이썬의 기본 데이터 타입인 정수형, 실수형, 문자열을 배웠습니다. 앞으로는 이러한 데이터를 효과적으로 관리하는데 사용되는 자료 구조에 대해서 배우겠습니다. \n\n리스트(list), 튜플(tuple), 사정(dict)에 대해서 다룹니다."

지금까지 파이썬의 기본 데이터 타입인 정수형, 실수형, 문자열을 배웠습니다. 앞으로는 이러한 데이터를 효과적으로 관리하는데 사용되는 자료 구조에 대해서 배우겠습니다.

리스트(list), 튜플(tuple), 사정(dict)에 대해서 다룹니다.

# 리스트 (list)

In [ ]:
interest1 = "삼성전자"
interest2 = "LG전자"
interest3 = "네이버"

In [52]:
print "파이썬의 변수는 다른 프로그래밍 언어와 달리 실제 데이터가 저장되는 공간 자체가 아니라, 데이터가 메모리상에서 위치하는 주솟값이 저장되는 공간입니다. 파이썬에서는 변수가 실제 데이터가 존재하는 위치를 가리키고 있는 것을 바인딩(binding)한다고 표현합니다.  "

파이썬의 변수는 다른 프로그래밍 언어와 달리 실제 데이터가 저장되는 공간 자체가 아니라, 데이터가 메모리상에서 위치하는 주솟값이 저장되는 공간입니다. 파이썬에서는 변수가 실제 데이터가 존재하는 위치를 가리키고 있는 것을 바인딩(binding)한다고 표현합니다.

In [53]:
print "파이썬에서 변수가 어떤 값을 바인딩하고 있으면, 프롬프트 상에서 변수명을 입력한 후 엔터키를 누르면 해당 변수가 가리키고 있는 값이 출력됩니다. 즉, 다음과 같이 interest1을 타이핑한 후 엔터키를 누르면 interest1이라는 변수가 가리키고 있던 문자열 데이터인 '삼성전자'가 출력됩니다."

파이썬에서 변수가 어떤 값을 바인딩하고 있으면, 프롬프트 상에서 변수명을 입력한 후 엔터키를 누르면 해당 변수가 가리키고 있는 값이 출력됩니다. 즉, 다음과 같이 interest1을 타이핑한 후 엔터키를 누르면 interest1이라는 변수가 가리키고 있던 문자열 데이터인 '삼성전자'가 출력됩니다.

In [56]:
interest1 = "삼성전자"
interest2 = "LG전자"
interest3 = "네이버"

print interest1

삼성전자

In [58]:
print "위의 예시와 같이 관심 종목의 수가 적은 경우에는 각자 서로 다른 변수명을 사용하여 관심 종목을 바인딩하고 있을 수 있지만, 그래도 뭔가 불편해 보입니다. 위와 같은 방식에서는 관심종목의 수가 100개라면 이를 표현하기 위해서 'interest1, interest2, interest3, ... , interest100'과 같이 100개의 서로 다른 변수명을 사용해야 할 것입니다. 이러한 불편을 해결하고자 파이썬에서는 리스트(list)라는 기본 자료 구조를 제공합니다. 파이썬의 리스트를 사용하면 여러 에디터를 한 번에 저장할 수 있으므로 변수명을 여러 개 사용할 필요가 없습니다. \n\n여러 개의 데이터를 리스트에 담기 위해서는 '['와']' 사이에 데이터를 쉼표로 구분하여 넣어주기만 하면 뒵니다."

위의 예시와 같이 관심 종목의 수가 적은 경우에는 각자 서로 다른 변수명을 사용하여 관심 종목을 바인딩하고 있을 수 있지만, 그래도 뭔가 불편해 보입니다. 위와 같은 방식에서는 관심종목의 수가 100개라면 이를 표현하기 위해서 'interest1, interest2, interest3, ... , interest100'과 같이 100개의 서로 다른 변수명을 사용해야 할 것입니다. 이러한 불편을 해결하고자 파이썬에서는 리스트(list)라는 기본 자료 구조를 제공합니다. 파이썬의 리스트를 사용하면 여러 에디터를 한 번에 저장할 수 있으므로 변수명을 여러 개 사용할 필요가 없습니다.

여러 개의 데이터를 리스트에 담기 위해서는 '['와']' 사이에 데이터를 쉼표로 구분하여 넣어주기만 하면 뒵니다.

In [ ]:
interest = ['삼성전자', 'LG전자', '네이버']

In [59]:
print "파이썬의 리스트는 여러 데이터를 한 번에 가리키게 할 수 있으므로 interest1, interest2, interest3와 같이 각각 변수명을 사용하는 것이 아니라 'interest'와 같이 하나의 변수만 있으면 됩니다.파이썬에서 여러 데이터를 리스트를 통해한 번에 저장하고 관리하는 것은 출석부에 학생들의 이름을 적어 두는 것과 비슷합니다."

파이썬의 리스트는 여러 데이터를 한 번에 가리키게 할 수 있으므로 interest1, interest2, interest3와 같이 각각 변수명을 사용하는 것이 아니라 'interest'와 같이 하나의 변수만 있으면 됩니다.파이썬에서 여러 데이터를 리스트를 통해한 번에 저장하고 관리하는 것은 출석부에 학생들의 이름을 적어 두는 것과 비슷합니다.

In [61]:
interest = ['삼성전자', 'LG전자', '네이버']

print interest[1]

LG전자

# 리스트 생성

In [62]:
print "파이썬 기본 자료 구조 중 하나인 리스트에 대해서 간단히 살펴봅시다. \n\n리스트는 언제 사용하는 것이 좋을까요? 바로 한 개 이상의 데이터를 '순서대로'저장하고 이를 관리해야 할 때입니다. "

파이썬 기본 자료 구조 중 하나인 리스트에 대해서 간단히 살펴봅시다.

리스트는 언제 사용하는 것이 좋을까요? 바로 한 개 이상의 데이터를 '순서대로'저장하고 이를 관리해야 할 때입니다.

In [63]:
daishin = [9130, 9150, 9150, 9300, 9400]

In [64]:
mystock = ['Naver', 5000] #서로 다른 자료형이 동시에 사용

In [65]:
mystock = [] 

'''기호 사이에 데이터를 넣지 않으면 아무것도 들어 있지 않은 
공 리스트를 만들 수도 있다.'''

In [42]:
a = 10 
b = 1000
c = 12.677

d = 'this is python'

e = True
f = False

g = 1.633e8

In [3]:
print type(a)
print type(b)
print type(c)
print type(d)
print type(e)

<type 'int'>
<type 'int'>
<type 'float'>
<type 'str'>
<type 'bool'>

In [4]:
print int(98.4425)
print int('-23')

98
-23

# 실수(Float)

In [47]:
print "실수는 부동 소수점의 약자이며, 부동 소수점이란 정수처럼 소숫점이 고정되어 있는게 아니라 부동이란 의미 그대로 고정되어 있지 않고 움직인다는 말입니다."

실수는 부동 소수점의 약자이며, 부동 소수점이란 정수처럼 소숫점이 고정되어 있는게 아니라 부동이란 의미 그대로 고정되어 있지 않고 움직인다는 말입니다.

In [48]:
A = 3.14
B = 5.140223021
print A, B

3.14 5.140223021

In [5]:
a = 100
str1 = 'The value is '

print str1 + str(a)

The value is 100

In [6]:
print 'Hello' + ' World'
print type('Hello')

Hello World
<type 'str'>

In [51]:
print """ABCDEFGSDFEIS
09903294032940
!@#$@!#%%@
"""

# 연속되 인용부호를 쓰게되면 간단하게 여러 줄의 문자열을 변수에 
# 대입하거나 출력할 수 있습니다.

ABCDEFGSDFEIS
09903294032940
!@#$@!#%%@

In [53]:
str = "가장 높은곳에 올라가려면 \
가장 낮은 곳부터 시작하라"

print str

# 줄의 마지막에 역슬래시를 사용하면 다음 줄과 현재 줄이 하나로 이어진다.

가장 높은곳에 올라가려면 가장 낮은 곳부터 시작하라

In [54]:
"012" "43553"

'01243553'

In [55]:
"ABC" + "DEFGHI"

'ABCDEFGHI'

In [56]:
"HA!" *  3

'HA!HA!HA!'

In [7]:
str2 = 'Ha' * 4 + 'Ho'
print str2

HaHaHaHaHo

# 인덱싱(Indexing)

In [57]:
print "파이썬에서는 문자열에서 원하는 위치에 있는 문자를 마음대로 꺼낼 수 있는데 이를 인덱싱이라 합니다. 변수 뒤에 가져오려는 문자의 위치를 적고, 그 위치를 대괄호로 감싸면 되며, 즉 '변수[위치]'와 같은 형태 입니다. \n대괄호 안에 들어가는 수를 위치, 첨자, 인덱스라고도 하며 이 위치는 1이 아닌 0부터 시작합니다. "

파이썬에서는 문자열에서 원하는 위치에 있는 문자를 마음대로 꺼낼 수 있는데 이를 인덱싱이라 합니다. 변수 뒤에 가져오려는 문자의 위치를 적고, 그 위치를 대괄호로 감싸면 되며, 즉 '변수[위치]'와 같은 형태 입니다.
대괄호 안에 들어가는 수를 위치, 첨자, 인덱스라고도 하며 이 위치는 1이 아닌 0부터 시작합니다.

In [8]:
a = '123456789abcd'
print a[0]
print a[10]
print a[-1]
print a[-5]

1
b
d
9

# 슬라이싱

In [58]:
print "'변수[시작 위치 : 끝 위치]"

'변수[시작 위치 : 끝 위치]

In [66]:
a = "python is best language ever"

print a[2:6]
print a[10:]
print a[:15]

print a[-13:-5]
print a[-8:-1]

thon
best language ever
python is best
language
age eve

In [11]:
a = "hello"
a.replace('h', 'p')
print a.upper()
a.lower()

HELLO

'hello'

In [77]:
b = "peter"
print b.upper()

PETER

# 문자열의 서식 지정(Formatting)

In [79]:
print "문자열의 서식을 지정하는 방법에는 튜플을 이용하는 방법, format함수를 이용하는 방법, format 메서드를이용하는 방법이 있으며, 이 세가지 방법을 모두 알아봅시다.\n\n연산자 %를 이용하면 문자열을 포맷팅(형식화)할 수 있다. 포맷팅을 활용하면 문자열 출력과 저장 방식을 훨씬 더 자유롭게 지정할 수 있다."

문자열의 서식을 지정하는 방법에는 튜플을 이용하는 방법, format함수를 이용하는 방법, format 메서드를이용하는 방법이 있으며, 이 세가지 방법을 모두 알아봅시다.

연산자 %를 이용하면 문자열을 포맷팅(형식화)할 수 있다. 포맷팅을 활용하면 문자열 출력과 저장 방식을 훨씬 더 자유롭게 지정할 수 있다.

In [69]:
print "제 나이는 %d이며, 몸무게는%.1f kg이고, 취미는 %s입니다." % (19, 62.5, '프로그래밍' )

제 나이는 19이며, 몸무게는62.5 kg이고, 취미는 프로그래밍입니다.

In [80]:
print "위 예제를 살펴보면 %d나 %s, %f 와 같은 것이 사용된 것을 확인할 수 있다. 이러한 문자들을 서식문자라고 하며, 각각 정수형과 문자열, 실수형 데이터를 지정하게 된다. \n\n참고로 %1f와 같은 경우 소수점 이하 한자리만 출력한다는 것이다."

위 예제를 살펴보면 %d나 %s, %f 와 같은 것이 사용된 것을 확인할 수 있다. 이러한 문자들을 서식문자라고 하며, 각각 정수형과 문자열, 실수형 데이터를 지정하게 된다.

참고로 %1f와 같은 경우 소수점 이하 한자리만 출력한다는 것이다.

In [90]:
weight= 62.53
print "몸무게:", format (weight, '.1f')

# format 함수를 통하여 변수 weight의 값을 소수점 이하 한자리로 출력하고 있다.

몸무게: 62.5

In [12]:
# 구구단 7단을 계산하여 답을 순서대로 출력하시오

a = range(9)
print a
for num in a:
    print 7 * (num + 1)

[0, 1, 2, 3, 4, 5, 6, 7, 8]
7
14
21
28
35
42
49
56
63

In [13]:
# a = 'python is a great language' 일 때, 
#맨 처음의 소문자 p를 대문자 P로 변경하고 싶다. 어떻게 하면 될까?

a = 'python is a great language'

print a[0].upper() + a[1:]

Python is a great language

In [14]:
a = 1
a +=1
a

2

In [17]:
a = 2
a -=5 
a

-3

In [18]:
a = 10
a *= 2
a

20

In [19]:
a = 10
a /= 2
a

5

In [20]:
2 > 1, 2 >= 1, 2 ==1

(True, True, False)

# Containers 고급 자료형

* list 리스트
* dictionary 사정
* tuple 튜플
* string 문자열

## list 리스트

In [22]:
L = ['red', 'blue', 'green', 'black', 'white']
type(L)

list

In [23]:
L[0]

'red'

In [24]:
L[1]

'blue'

In [25]:
L[-1]

'white'

In [26]:
L[0:4]

['red', 'blue', 'green', 'black']

In [27]:
L[2:]

['green', 'black', 'white']

In [28]:
L[:3]

['red', 'blue', 'green']

# 변수(Variable)

In [29]:
money = 1000
cookiePrice = 600
money = money - cookiePrice
print money

400

In [31]:
print "변수는 '값을 담아두는 상자'라고 할 수 있지만, 실제로는 값을 담아두는게 아니라 어떠한 값에 이름표를 붙이는 것과 같습니다. 변수를 직접 정의하면서 주의하실 부분은, 왼쪽에 변수명이 와야 한다는 것입니다."

변수는 '값을 담아두는 상자'라고 할 수 있지만, 실제로는 값을 담아두는게 아니라 어떠한 값에 이름표를 붙이는 것과 같습니다. 변수를 직접 정의하면서 주의하실 부분은, 왼쪽에 변수명이 와야 한다는 것입니다.

In [32]:
money = 1000
1000 = money

SyntaxError: can't assign to literal (<ipython-input-32-6e79ee319aea>, line 2)

In [33]:
print "첫 줄에서 작성된 코드는 아무런 에러 없이 정상적으로 money란 변수가 1000을 담고 있습니다. 그런데, 두번째 줄에서 작성된 코드는 '리터럴(문자)에 해당할 수 없습니다.'와 같은 에러가 발생하게 됩니다. \n기본적으로 =(치환 연산자)는 오른쪽에 있는 식의 결과값을 그대로 왼쪽으로 가져다 놓는 것이기 때문에 이러한 에러가 발생하는 것입니다. 즉, 상수인 1000에 변수인 money를 가져다 놓으라고?와 같이 해석되는 것입니다."

첫 줄에서 작성된 코드는 아무런 에러 없이 정상적으로 money란 변수가 1000을 담고 있습니다. 그런데, 두번째 줄에서 작성된 코드는 '리터럴(문자)에 해당할 수 없습니다.'와 같은 에러가 발생하게 됩니다.
기본적으로 =(치환 연산자)는 오른쪽에 있는 식의 결과값을 그대로 왼쪽으로 가져다 놓는 것이기 때문에 이러한 에러가 발생하는 것입니다. 즉, 상수인 1000에 변수인 money를 가져다 놓으라고?와 같이 해석되는 것입니다.

# 파이썬에선 모든게 객체(Object)다

In [34]:
print "우리가 앞으로 배우게 될 함수, 모듈, 리스트, 튜플 등 모든 것을 객체라고 할 수 있습니다. 첫 예제에서의 1000과 600도 결코 예외가 아닙니다. 어떤 것이든, 객체라고 할 수 있습니다."

우리가 앞으로 배우게 될 함수, 모듈, 리스트, 튜플 등 모든 것을 객체라고 할 수 있습니다. 첫 예제에서의 1000과 600도 결코 예외가 아닙니다. 어떤 것이든, 객체라고 할 수 있습니다.

In [35]:
money = 1000
cookiePrice = 600
money = money - cookiePrice
print money

400

In [36]:
print "변수 money와 1000이라는 값을 지닌 객체가 만들어집니다.사실은, 1000이란 값이 그대로 money에 대입이 되어 money가 1000이란 값을 지니는게 아니라 1000이라는 값을 지니는 객체를 새로 만들어내고 그 객체가 저장되어 있는 공간에다 money라는 이름표를 붙이는 것이라고 생각 할 수 있습니다. 즉, 변수 money는 직접적으로 1000이란 값을 가지고 있는게 아니라, 1000이라는 값이 저장되어 있는 공간의 주소를 담고 있는 것이라고 할 수 있습니다. "

변수 money와 1000이라는 값을 지닌 객체가 만들어집니다.사실은, 1000이란 값이 그대로 money에 대입이 되어 money가 1000이란 값을 지니는게 아니라 1000이라는 값을 지니는 객체를 새로 만들어내고 그 객체가 저장되어 있는 공간에다 money라는 이름표를 붙이는 것이라고 생각 할 수 있습니다. 즉, 변수 money는 직접적으로 1000이란 값을 가지고 있는게 아니라, 1000이라는 값이 저장되어 있는 공간의 주소를 담고 있는 것이라고 할 수 있습니다.

In [37]:
print "따라서 변수 money 는 1000이라는 객체, cookiePrice라는 변수는 600이라는 값을 지닌 객체가 저장된 공간을 가리키는 것이라고 할 수 있습니다."

따라서 변수 money 는 1000이라는 객체, cookiePrice라는 변수는 600이라는 값을 지닌 객체가 저장된 공간을 가리키는 것이라고 할 수 있습니다.

In [38]:
x = 3
y = 3
z = 5
print id(x), id(y), id(3), id(z), id(5)

48068608 48068608 48068608 48068584 48068584

In [39]:
print "x, y는 동일하게 3이라는 값을 가진 객체를 가리키게 되고, z는 5라는 값을 가진 객체를 가리키게 됩니다. 만약 y에 4를 넣으려고 한다면, 더이상 객체 3을 가리키는게 아니라 새로운 객체 4를 가리키게 됩니다. 파이썬 내에는 id라는 내장 함수가 존재하고, 이 id함수는 객체의 주소를 돌려주는데 여기서 잠시 id 함수를 통해 정말 같은 곳을 가리키고 있는지 확인해 보도록 하겠습니다."

x, y는 동일하게 3이라는 값을 가진 객체를 가리키게 되고, z는 5라는 값을 가진 객체를 가리키게 됩니다. 만약 y에 4를 넣으려고 한다면, 더이상 객체 3을 가리키는게 아니라 새로운 객체 4를 가리키게 됩니다. 파이썬 내에는 id라는 내장 함수가 존재하고, 이 id함수는 객체의 주소를 돌려주는데 여기서 잠시 id 함수를 통해 정말 같은 곳을 가리키고 있는지 확인해 보도록 하겠습니다.

In [40]:
print"결과를 보면 변수 x와 y는 객체 3을 가리키고, 변수 z는 객체 5를 가리킨다고 말할 수 있습니다. 즉, 객체 3의 주소값과 변수의 주소값이 모두 일치하는 것입니다. "

결과를 보면 변수 x와 y는 객체 3을 가리키고, 변수 z는 객체 5를 가리킨다고 말할 수 있습니다. 즉, 객체 3의 주소값과 변수의 주소값이 모두 일치하는 것입니다.

# 변수의 이름 작성 규칙

In [43]:
# 4apple = 10
admin = 50
Apple = 60
apple = 70
print admin, Apple, apple

# 변수명에는 문자, 숫자, 언더바를 포함할 수 있으며, 숫자는 가장 처음에
# 등장할 수 없습니다. 또한 파이썬에선 대소문자를 구분하기 때문에 
# apple이란 변수와 Apple이란 변수는 서로 다릅니다.

50 60 70

# 리스트 관련 함수

* list
* sort() -> 리스트 자체를 내부적으로 정렬
* sorted() -> 리스트의 정렬된 복사본을 반환

In [51]:
a = [9, 8, 1, 2, 7, 5, 6, 3, 4]
print a.sort()
print a

a = [9, 8, 1, 2, 7, 5, 6, 3, 4]

b = sorted(a)
print sorted(a)
print a

None
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 1, 2, 7, 5, 6, 3, 4]

In [55]:
mylist = [3, 0, -1, 4, 6]
mylist2 = sorted(mylist)

#원본 리스트는 정렬되지 않는다
print mylist

#새 리스트는 정렬돼있다
print mylist2

[3, 0, -1, 4, 6]
[-1, 0, 3, 4, 6]

In [62]:
a = [1, 9, 7, 8, 2, 5, 11]
a.sort()
print a[-1] + a[-2]

20

In [52]:
a = [1, 2, 3, 4]
b = a

print a
print b
print '-' * 20


a[0] = 22

print a
print b

[1, 2, 3, 4]
[1, 2, 3, 4]
--------------------
[22, 2, 3, 4]
[22, 2, 3, 4]

In [53]:
# b = a
a = [1, 2, 3, 4]
b = list(a)
c = a[:]

a[0] = 99

print a
print b
print c

[99, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

## len()

In [54]:
# 리스트의 항목 개수를 리턴한다. 

mylist = ['a', 'b', 'c', 'd']
print (len(mylist))

4

In [61]:
a = [1, 2, 3, 4, 5]
[a[0], a[-1]], a[::len(a)-1]

([1, 5], [1, 5])

## 추가(append) 함수

In [94]:
fruit = ['apple', 'banana', 'pineapple']
fruit.append('grape')
fruit

# append 함수를 통해서 'grape'라는 값이 제대로 리스트에 추가되었다. 
# 추가된 위치는 가장 뒤에 요소가 추가된다는 것을 알 수 있다.

['apple', 'banana', 'pineapple', 'grape']

## 삽입(insert)함수

In [1]:
print "뒤에서부터 추가되는 append함수와는 달리, 이 insert 함수는 지정한 위치에 추가하려는 값을 넣을 수 있습니다."

뒤에서부터 추가되는 append함수와는 달리, 이 insert 함수는 지정한 위치에 추가하려는 값을 넣을 수 있습니다.

In [3]:
a = [1, 2, 4, 5, 6]
a.insert(2, 3)
a

# 첫번째 2는 요소가 추가될 위치를 말하고, 두번째 인수에는 리스트에 
# 삽입될 값이 들어옵니다.

[1, 2, 3, 4, 5, 6]

In [4]:
test = ['one', 'two', 'three', 'five', 'six']
test.insert(3, 'four')

print test

['one', 'two', 'three', 'four', 'five', 'six']

## 확장함수(extend)

* += 로도 가능함

In [46]:
a = [1, 2, 3, 4]
b = [10, 20, 30, 40]

a.extend(b)

print a

print b

b += a
print b

[1, 2, 3, 4, 10, 20, 30, 40]
[10, 20, 30, 40]
[10, 20, 30, 40, 1, 2, 3, 4, 10, 20, 30, 40]

In [5]:
print "리스트를 확장하는 함수인 extend 함수는 한가지씩 값이 추가되는 append 함수와 달리, 여러개의 값을 추가할 수 있습니다. \n\n한가지 주의하실 점은 함수로 전달되는 인수에는 리스트만 올 수 있습니다."

리스트를 확장하는 함수인 extend 함수는 한가지씩 값이 추가되는 append 함수와 달리, 여러개의 값을 추가할 수 있습니다.

한가지 주의하실 점은 함수로 전달되는 인수에는 리스트만 올 수 있습니다.

In [6]:
nums = [1, 2, 3, 4, 5, 6]
nums.extend([7, 8, 9])
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## 위치확인함수(index)

In [7]:
print "리스트에 있는 특정 요소의 위치를 확인하는 함수. "

리스트에 있는 특정 요소의 위치를 확인하는 함수.

In [10]:
test = ['red', 'blue', 'green', 'yellow', 'white', 'black', 'blue']
test.index('blue')

1

In [11]:
test.index('white')

4

## 요소 수(count) 함수

In [12]:
print "리스트에 존재하는 특정 요소의 수를 확인하는 함수인 count 함수는 함수를 통해서 요소 개수를 확인하려면, count 함수로 해당하는 요소를 건네주면 된다."

리스트에 존재하는 특정 요소의 수를 확인하는 함수인 count 함수는 함수를 통해서 요소 개수를 확인하려면, count 함수로 해당하는 요소를 건네주면 된다.

In [13]:
test = [1, 1, 2, 3, 4, 5, 6, 6, 6, 7]
test.count(1)

2

In [20]:
test = ['red', 'red', 'green', 'white', 'black', 'blue', 'blue', 'blue']
test.count('red')

2

In [21]:
test.count('blue')

3

## 요소를 꺼내는 함수(pop)

In [22]:
print "리스트의 요소를 꺼내는 함수인 pop함수는 인수를 아에 생략하고 사용할 수 있으며, 특정한 요소를 리스트에서 꺼내려면\n함수의 첫번째 인수로 꺼내려는 요소의 위치를 적어주면 된다."

리스트의 요소를 꺼내는 함수인 pop함수는 인수를 아에 생략하고 사용할 수 있으며, 특정한 요소를 리스트에서 꺼내려면
함수의 첫번째 인수로 꺼내려는 요소의 위치를 적어주면 된다.

In [23]:
test = ['a', 'b', 'c', 'd', 'e']
test.pop()

'e'

In [24]:
test

['a', 'b', 'c', 'd']

In [25]:
test.pop(2)

'c'

In [26]:
test

['a', 'b', 'd']

## 제거 함수(remove)

In [27]:
print "리스트의 요소를 제거하는 함수인 remove함수는 pop함수와는 달리, 리스트 내에서 해당하는 값만을 제거합니다. \n만약, 제거하려는 값이 리스트에 여러개가 존재하면 가장 앞에있는 요소부터 제거가 됩니다."

리스트의 요소를 제거하는 함수인 remove함수는 pop함수와는 달리, 리스트 내에서 해당하는 값만을 제거합니다.
만약, 제거하려는 값이 리스트에 여러개가 존재하면 가장 앞에있는 요소부터 제거가 됩니다.

In [30]:
a = [1, 2, 1, 3, 4, 1]
a.remove(1)
a

[2, 1, 3, 4, 1]

In [39]:
a = [1, 3, 2, 4, 5, 8]
a.remove(2)
print a

[1, 3, 4, 5, 8]

In [29]:
print "위의 예제에서 2행을 보면 a내에 1이라는 값을 제거하려고 하는데 리스트 a에는 1이란 값이 3개나 있습니다. 이 경우에는 위에서 말한대로 가장 앞에있는 요소부터 제거가 된다고 했습니다. 그렇기 때문에, 가장 앞에 있는 1이 우선 제거가 되는 것입니다."

위의 예제에서 2행을 보면 a내에 1이라는 값을 제거하려고 하는데 리스트 a에는 1이란 값이 3개나 있습니다. 이 경우에는 위에서 말한대로 가장 앞에있는 요소부터 제거가 된다고 했습니다. 그렇기 때문에, 가장 앞에 있는 1이 우선 제거가 되는 것입니다.

## 정렬(sort) 함수

In [40]:
print "이 함수로 전달되는 인수를 통해서, 정렬 방식을 변경할 수도 있으며, 반전 여부도 지정할 수 있습니다."

이 함수로 전달되는 인수를 통해서, 정렬 방식을 변경할 수도 있으며, 반전 여부도 지정할 수 있습니다.

In [41]:
a = [3, 5, 1, 2, 7]
a.sort()
a

[1, 2, 3, 5, 7]

In [42]:
a = [3, 5, 1, 2, 7]
a.sort(reverse = True)
a

[7, 5, 3, 2, 1]

In [43]:
print "위 예제의 결과를 보면 리스트가 역순으로 정렬됨을 확인할 수 있습니다. 저렇게 reverse를 True로 만들어 주지 않을 경우에는, reverse의 기본값이 False이기 때문에 순서대로 정렬된 데이터를 보실 수 있습니다."

위 예제의 결과를 보면 리스트가 역순으로 정렬됨을 확인할 수 있습니다. 저렇게 reverse를 True로 만들어 주지 않을 경우에는, reverse의 기본값이 False이기 때문에 순서대로 정렬된 데이터를 보실 수 있습니다.

## 반전함수(reverse)

In [44]:
print "리스트를 역순으로 뒤집는 함수입니다. 이 함수는 단순히 리스트의 요소들을 모두 역순으로 뒤집는 역할만 하며, 정렬과는 상관이 없습니다."

리스트를 역순으로 뒤집는 함수입니다. 이 함수는 단순히 리스트의 요소들을 모두 역순으로 뒤집는 역할만 하며, 정렬과는 상관이 없습니다.

In [45]:
a = [1, 3, 5, 7, 9]
a.reverse()
a

[9, 7, 5, 3, 1]